.home {
  height: 1000px;
}

.header {
  padding-top: 150px;
}

.image {
  filter: brightness(0);
}

.titletext {
  font-size: 50px;
  text-align: center;
  padding-bottom: 50px;
  font-weight: 600;
}

.abouttext {
  font-size: 28px;
  font-weight: 500;
  text-align: justify;
  color: grey;
  padding-left: 150px;
}

.abouttext1 {
  font-size: 50px;
}
