.about {
}

.header {
  padding-top: 150px;
}

.abouttext {
  font-size: 28px;
  font-weight: 500;
  text-align: justify;
  color: grey;
  padding-left: 150px;
}

.abouttext1 {
  font-size: 50px;
  /* background: rgb(255, 59, 59); */
  background: linear-gradient(90deg, var(--theme) 0%, var(--black) 50%);
  color: var(--black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textTheme {
  color: var(--theme);
}
.secondcontent {
  padding-top: 100px;
}

.maincontent {
  padding: 20px 0px;
  text-align: center;
}

.maincontent0 {
  background-color: var(--dark);
  text-align: center;
}

.maincontent1 {
  background-color: var(--overlay-white-30);
  padding: 25px 0px;
}

.textcontent {
  font-weight: 600;
  font-size: 50px;
}

.textcontent1 {
  color: #ff3b3b;
  font-size: 50px;
  font-weight: 600;
}

.textcontent2 {
  font-size: 40px;
  color: white;
  font-weight: 600;
}

.solutionContainer {
  padding-top: 30px;
  padding-bottom: 50px;
}

.solutionImage {
  padding: 0 150px;
  margin-bottom: 20px;
  text-align: center;
}

.solutionImage1 {
  padding-left: 190px;
  padding-right: 150px;
  margin-bottom: 20px;
  text-align: center;
}
.solutionName {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.solutionName1 {
  padding: 20px 0px;
  text-align: center;
  font-size: 20px;
  line-height: 2.5rem;
}

.solutionContent {
  padding: 0px 15px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.productSection {
  background-color: var(--white);
  color: var(--theme);
  cursor: default;
}
.productContainer {
  padding: 150px 200px;
}
.productCarousel {
  margin: 0 auto;
  border: 0px double var(--theme);
}
.productContent {
  display: block;
}
.productTitle {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.product {
  padding: 50px 25px;
}
.productImage {
  text-align: center;
  height: 250px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.productName {
  /* display: none; */
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  align-items: center;
}
/* Flip Card */
.product {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.75s;
  transform-style: preserve-3d;
}
.productImage,
.productName {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.productName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
}
.productContent:hover .product {
  transform: rotateY(180deg);
}
.productcontent {
  background-color: transparent;
  perspective: 1000px;
}

.colorBlack {
  color: var(--black);
}
