.footer {
  background-color: #ff4f4f;
}
.contentfooter {
  padding-top: 1px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.logo {
  filter: brightness(100);
}

.copyright {
  background-color: #ff3b3b;
}

.test {
  height: 600px;
}
