.footer {
  background-color: var(--theme);
  justify-content: center;
  cursor: default;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
}
.logo {
  filter: brightness(100);
  padding: 0;
}
.information {
  padding-top: 40px;
  padding-bottom: 40px;
}
.information > .section {
  margin: 0 auto;
}
.information > .section:first-child {
  margin-left: 0;
}
.information > .section:last-child {
  margin-right: 0;
}
.socials {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--white);
}
.socials > .socialTitle {
  align-self: center;
}
.copyright {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbarBackgroundTop {
  background-color: var(--overlay-white-20);
}
.navbarBackgroundMid {
  background-color: var(--overlay-white-10);
}
.navbarBackgroundBot {
  background-color: var(--theme);
}
.footerLogo {
  filter: brightness(100);
}
