.footer {
  background-color: #ff3b3b;
  justify-content: center;
  cursor: default;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
}
.logo {
  filter: brightness(100);
  padding: 0;
}

.test {
  /* height: 21.7vw; */
  height: 50vw;
}
.information {
  padding-top: 40px;
  padding-bottom: 40px;
}
.information > .section {
  margin: 0 auto;
}
.information > .section:first-child {
  margin-left: 0;
}
.information > .section:last-child {
  margin-right: 0;
}
.socials {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}
.socials > .socialTitle {
  align-self: center;
}
.socials > .socialIcon {
}
.copyright {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbarBackgroundTop {
  background-color: rgba(255, 255, 255, 0.2);
}
.navbarBackgroundMid {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbarBackgroundBot {
  background-color: #ff3b3b;
}
